*{
    font-family: sans-serif;
}
body{
    background-color: rgba(101, 221, 221, 0.616);
    width: 100%;
    height: 100%;
}

.continer{
    width: 320px;
   margin-top: 15%;
    margin-left: 40%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
    .inner{
        background:rgb(58, 168, 219);
        width: 100%;
        padding: 2%;
        border-radius: 10px;
        clip-path: circle(10% at 90% 11%);
        cursor: pointer;
        transition: all .5s ease-in-out;
        position: relative;
    }
    span{
        position: absolute;
        left: 90%;
        top: 20px;
        font-size: 22px;
        color: #ffffff;
        transition: all .5s ease-in-out;
    }
    h1{
        font-size: 3.5em;
        color: #ffffff; 
    }
    p{
        font-size: 1.2em;
        color: #ffffff;
    }
    .inner:hover{
        clip-path: circle(75%);
        background:rgb(219, 58, 219);
        transition: all .5s ease-in-out;
    }
    .inner:hover span{
        color: rgba(255,255,255,0);
        transition: all .5s ease-in-out;
    }